---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
      <div class="author__img" alt="{{site.author.name}}">
        {% include picture.html image=site.author.image %}
      </div>
      <div class="author__contact__profile">
        {% include social-icons.html %}
      </div>
      <p class="author__bio">
        Pre-save the new single <a href="https://distrokid.com/hyperfollow/dylanhand/made-it-there">"Made It There"</a>
        <br>Coming May 20
      </p>
    </div>
  </section>
  <div class="rainbow-border" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700" />
  <!-- end author -->
</div>

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
      {% include post-summary.html %}
    {% endfor %}
  {% endif %}
</div>
