<div class="container">
  <!-- begin footer -->
  <footer class="footer">
    {% if page.permalink != "/newsletter" %}
    <div class="footer__email__signup">
      <iframe src="https://dylanhand.substack.com/embed" style="border:1px solid #EEE; background:white;"
        frameborder="0" scrolling="no"></iframe>
    </div>
    {% endif %}
    <div class="footer__contact">
      {% include social-icons.html %}
    </div>
    {%- include mastadon.html -%}
    <div class="footer__text">
      <div class="left">
        Dylan Hand
        <br>
        &#169; 2019-{{ site.time | date: '%Y' }}
      </div>
      <div class="right">
        Coded by &#128400;
        <br>
        <a href={% link _pages/privacy.md %}>Privacy Policy</a>
      </div>
  </footer>
  <!-- end footer -->
</div>
