<div class="container-full">
  <!-- begin header -->
  <header class="header">

    <a class="logo__link" href="{{ site.baseurl }}/">
      <div class="logo">
        {{ site.title }}
        <div class="tagline">
          {{ site.subtitle }}
        </div>
      </div>
    </a>

    <nav class="main-nav">
      <span class="main-nav__open">
        <svg class="main-nav__menu">
          <use class="main-nav__menu" href="#icon-menu"></use>
        </svg>
      </span>
      <div class="main-nav__box">
        <span class="main-nav__close">
          <svg class="main-nav__menu">
            <use class="main-nav__menu" href="#icon-close"></use>
          </svg>
        </span>
        <ul class="nav__list list-reset">
          {%- for item in site.data.navigation %}
            <li class="nav__item">
              <a href="{{ item.link }}" class="nav__link {% if page.url == item.link -%} selected {%- endif -%}">{{ item.name }}</a>
            </li>
          {%- endfor %}
        </ul>
      </div>
    </nav>

  </header>
  <!-- end header -->
</div>
