<div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
  {% if post.image %}
  <div class="article__image-box">
    {%- assign thumbnail-jpg = post.image | replace: '/img/optimized', '/img/thumbs' %}
    {%- assign thumbnail-webp = thumbnail-jpg | replace: '.jpg', '.webp' %}
    <a href="{{post.url | prepend: site.baseurl}}" class="article__image">
      <picture>
        <source srcset="{{ site.baseurl }}{{ thumbnail-webp }}" type="image/webp">
        <source srcset="{{ site.baseurl }}{{ thumbnail-jpg }}" type="image/jpeg"> 
        <img src="{{ site.baseurl }}{{ thumbnail-jpg }}" loading="lazy" />
      </picture>
    </a>
  </div>
  {% endif %}
  <div class="article__content">
    <div class="article__title__container">
      <h2 class="article__title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
      </h2>
      <div class="article__meta">
        <span class="article__date" >
          <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time>
        </span>
      </div>
    </div>
    <p class="article__excerpt">
      {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">MORE ></a>
    </p>
  </div>
</div>
