/* Author */
.author {
  margin: 70px 0;
  @media (max-width: $mobile) {
    margin: 50px 0;
  }
}

.rainbow-border { 
  margin-bottom: 70px;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgb(223, 11, 106) 0%, rgb(238, 148, 38) 16.66667%, rgb(136, 238, 53) 33.333334%, rgb(75, 240, 221) 50%, rgb(63, 142, 238) 67%, rgb(150, 52, 231) 100%);
  @media (max-width: $mobile) {
    margin-bottom: 50px;
  }
}

.author__img {
  img {
    display: block;
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto 70px;
    border-radius: 50%;
    background-color: $gray-white;
  }
}

.author__bio {
  max-width: 450px;
  margin: 0 auto 0px;
  font-size: $big-text-size;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  color: $dark;
}

.author__contact__profile { 
  margin-bottom: 3rem;
}

.author__contact {
  text-align: center;
}

.contact__link .contact__icon {
  height: 22px;
  width: 22px;
  transition: all 300ms ease;
}

use.contact__icon {
  fill: $gray-dark;
  transition: all 300ms ease;
}

use.contact__icon:hover {
  fill: $gray;
}

.contact__link:hover .contact__icon {
  color: $gray;
}

*, *::after, *::before {
  box-sizing: border-box;
}
