/* Footer */
.footer {
  margin-top: 80px;
  padding-bottom: 30px;
  border-top: 1px solid $gray-lighten;
  @media (max-width: $mobile) {
    margin-top: 50px;
  }
}

.footer__contact {
  margin: 50px 0;
  text-align: center;
}

.footer__text { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: $gray; 
  a {
    text-decoration: underline;
    color: $gray;
  }
}

.footer .left {
  text-align: left;
}

.footer .right { 
  text-align: right;
}

.contact__item {
  display: inline-block;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.contact__link {
  font-size: 16px;
  color: $dark;
}