.contact__item {
  display: inline-block;
  margin-right: 4px;
  &:last-child {
    margin-right: 0;
  }
}

.contact__link { 
  display: inline-block;
  padding: 6px;
}

$icon-size: 22px;

.contact__icon {
  display: block;
  height: $icon-size;
  width: $icon-size;
  use {
    fill: $gray-dark;
    transition: all 300ms ease;
  }
}

.contact__link:hover use {
  fill: $gray;
}