---
image: '/assets/img/profile-pic.jpg'
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include header.html %}
  {% include svg-icons.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include footer.html %}

  <!-- begin js -->
  <script>0</script> <!-- Hack to prevent Firefox from forcing a layout before CSS is loaded https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer -->
  <script async defer src="{{ site.baseurl }}/assets/js/main.js"></script>
  <!-- end js -->
</body>

</html>
