---
layout: default
---

<div class="container">
  <!-- begin music -->
  <article class="page">

    <div class="page__head" data-animate="fade-up">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      <div class="music__grid">
      {% assign reversed-songs = site.releases | reverse %}
      {% for song in reversed-songs %}
        <div class="music__release">
            <a href="{{ song.permalink }}">
              {%- if song.image %}
                <div class="release__image__container">
                  <div class="music__release__image">
                    {% picture release_grid {{song.image}} --alt {{song.image_alt}} %}
                  </div>
                </div>
              {% endif -%}
          
              <div class="release__info">
                <div class="release__title">
                    {{ song.name }}
                </div>
              <div class="music__release__artists release__artists">
                by
                {%- if song.artists %}
                  {%- for artist in song.artists %}
                      {{ artist }}{%- if forloop.last == false -%},{%- endif -%} 
                  {%- endfor -%}
                {% else %}
                  Dylan Hand
                {% endif -%}
                </div>
              </div>
            </a>
        </div>
      {% endfor %}
      </div>
    </div>

    <div class="page__content" data-animate="fade-up" data-animate-delay="100">
    {{ content }}
    </div>

  </article>
  <!-- end music -->
</div>
