---
layout: default
---

<div class="container">
  <!-- begin page -->
  <article class="page">

    <div class="page__head" data-animate="fade-up">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.image %}
      <div class="page__image">
        {% picture page {{page.image}} --alt {{page.image_alt}} %}
      </div>
      {% endif %}
    </div>

    <div class="page__content" data-animate="fade-up" data-animate-delay="100">
    {{ content }}
    </div>

  </article>
  <!-- end page -->
</div>
