---
layout: default
---

<div class="container">
  <article class="page">
    {%- if page.image %}
      <div class="release__image">
        {%- include picture.html image=page.image %}
      </div>
    {% endif -%}

    <div class="release__info">
      <div class="release__title">
        {{ page.name }}
      </div>
      <div class="release__artists">
        by
        {%- if page.artists %}
          {%- for artist in page.artists %}
            {{ artist }}{%- if forloop.last == false -%},{%- endif -%} 
          {%- endfor -%}
        {% else %}
          Dylan Hand
        {% endif -%}
      </div>
    </div>

    <div class="release__stream__title">
      Stream this song on:
    </div>
    {% if page.bandcamp %}
      {% include song-link.html text="Bandcamp" link=page.bandcamp icon="bandcamp" %}
    {% endif %}
    {% if page.spotify %}
      {% include song-link.html text="Spotify" link=page.spotify icon="spotify" %}
    {% endif %}
    {% if page.apple-music %}
      {% include song-link.html text="Apple Music" link=page.apple-music icon="itunes" %}
    {% endif %}
    {% if page.soundcloud %}
      {% include song-link.html text="SoundCloud" link=page.soundcloud icon="soundcloud" %}
    {% endif %}
    {% if page.youtube %}
      {% include song-link.html text="YouTube" link=page.youtube icon="youtube" %}
    {% endif %}
    {% if page.amazon-music %}
      {% include song-link.html text="Amazon Music" link=page.amazon-music icon="amazon-music" %}
    {% endif %}
    {% if page.tidal %}
      {% include song-link.html text="Tidal" link=page.tidal icon="tidal" %}
    {% endif %}
    {% if page.deezer %}
      {% include song-link.html text="Deezer" link=page.deezer icon="deezer" %}
    {% endif %}
    <div class="lyrics">
      <button id="lyrics__button" class="lyrics__button">
        Lyrics
      </button>
      <div class="lyrics__content">
        {{ content }}
      </div>
    </div>
    </article>
    <script>
      var lyricsButton = document.getElementById("lyrics__button");
      lyricsButton.addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
          content.style.opacity = 0.0;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
          content.style.opacity = 1.0;
        } 
      });
      </script>
</div>
